
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="container">

        <a class="navbar-brand text-light" routerLinkActive='active'> Date App </a>

        <ul class="navbar-nav mr-auto">

            <ng-container *ngIf="(user$ | async)?.id != 0">

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/searchMembers']" routerLinkActive='active'> Find </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink='/' routerLinkActive='active'> My Likes / Liked By </a>
                </li>

            </ng-container>

        </ul>

        <app-login *ngIf="(user$ | async)?.id == 0"></app-login>

        <div class="dropdown" *ngIf="(user$ | async)?.id != 0">

            <img src="{{ './assets/user.png' }}" alt="{{ 'nophoto' }}" />

            <button class="ml-3 px-4 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome {{ (user$ | async)?.userName }}
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" href="#">Log out</a>
            </div>

        </div>

    </div>

</nav>
