
<form class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">

    <input
        type="text"
        class="form-control mr-sm-2"
        name="username"
        placeholder="Username"
        [(ngModel)]="loginModel.Username"
    />

    <input
        type="password"
        class="form-control mr-sm-2"
        name="password"
        placeholder="Password"
        [(ngModel)]="loginModel.Password"
    />

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Login </button>

</form>