.card {
    border: none;
    background-color: #333333;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.rounded-circle {
    max-height: 50px;
}

.messages__Container {

    &.yourMessage { justify-content: flex-start; }
    &.memberMessage { justify-content: flex-end; }

    .message__Container {


        display: flex;


        .yourMessage { padding: 15px 25px; background-color: red; color: black; border-radius: 25px; }
        .memberMessage { padding: 15px 25px; background-color: blue; color: white; border-radius: 25px; }

    }



}
