<div class="autocomplete d-flex justify-content-center" [ngClass]="[getCSS()]">

  <label *ngIf="label != false" [ngStyle]="{'width': labelWidth}">
    {{ label }}
  </label>

  <input #textInput type="text" id="myInput" class="form-control ml-0" [(ngModel)]="valueInput" autocomplete="off"
    name="myCity" placeholder="{{placeholder}}" />

  <div id="autocomplete-list" class="autocomplete-items" *ngIf="promptShow">

    <div *ngFor="let item of allItems" (click)="setValue(item)">
      {{ item.name }}
    </div>

  </div>

</div>

<input *ngIf="!autoAdd" class="btn btn-primary mr-3" (click)="addValue()" type="button" value="Add">
