
<div class="row" *ngIf="user">
    <div class="col-1"></div>
    <div class="col-3 text-center">
        <h1>Your profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes.  Any unsaved changes will be lost
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <div class="card">
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{user.city}}, {{user.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{user.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{user.lastActive | date: 'M/d/yy, h:mm a' }}</p>
                </div>
            </div>
            <div class="card-footer">
                <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block">Save Changes</button>
            </div>
        </div>
    </div>
    <div class="col-7">
        <tabset class="member-tabset">
            <tab heading='About {{user.knownAs}}'>
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <!-- <h4 class="mt-2">Looking for</h4>
                    <textarea class="form-control" [(ngModel)]="user.lookingFor" name="lookingFor" rows="4"></textarea> -->
                    <h4 class="mt-3">Hobbies: </h4>
                    <div *ngIf="user.hobbies?.length > 0" class="hobbiesContainer form-inline mb-3">
                        <h4 *ngFor="let item of user.hobbies">
                            <a class="badge rounded-pill bg-warning text-dark mx-1">
                                {{ item.name }}
                                <span (click)="removeHobby(item.id)">
                                    <div><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                </span>
                            </a>

                        </h4>
                    </div>
                    <div class="hobbyPrompt mt-1 mb-3">

                        <div class="form-inline">

                            <label for="city">Add hobby: </label>

                            <app-text-input-with-hints class="ml-2"
                                [URL]="'Hobby/searchByText?_searchText='"
                                [placeholder]="'Hobby'"
                                [autoAdd]="true"
                                (callback)="getHobby($event)"
                            ></app-text-input-with-hints>

                        </div>

                    </div>
                    <h4 class="mt-2">Location Details: </h4>
                    <div class="form-group">
                        <label for="city">City: </label>
                        <app-text-input-with-hints class="ml-2"
                            [URL]="'City/searchByText/'"
                            [placeholder]="'City'"
                            [valueInput]="user.city"
                            [autoAdd]="true"
                            (callback)="getCity($event)"
                        ></app-text-input-with-hints>
                        <!-- <input [(ngModel)]="user.city" type="text" name="city" class="form-control mb-2"> -->
                        <label for="city">Country: </label>

                        <app-text-input-with-hints class="ml-2"
                            [URL]="'Country/searchByText/'"
                            [placeholder]="'Country'"
                            [valueInput]="user.country"
                            [autoAdd]="true"
                            [setValueToInput]="true"
                            (callback)="getCountry($event)"
                        ></app-text-input-with-hints>
                        <!-- <input [(ngModel)]="user.country" type="text" name="country" class="form-control mb-2"> -->
                    </div>
                </form>
            </tab>
            <!-- <tab heading='Edit Photos'>
                <app-photo-editor [member]="user"></app-photo-editor>
            </tab> -->
        </tabset>
    </div>
    <div class="col-1"></div>
</div>