.hobbyName {
  font-weight: bold;
  color: black;
  border: 1px solid #60431e;
  padding: 5px 8px;
  margin: 5px;

  border-radius: 10px;
  cursor: pointer;
}

.added {
  background-color: #ff4500;
}


.notAdded {
  background-color: #c9a293;
}
