<div class="centered">
  <div class="plus" id="plus">
    <div class="plus__line plus__line--v">
      <a href="#" class="plus__link ion-person ">
        <i class="fa fa-heart"></i>
      </a>
      <a href="#" class="plus__link ion-images">
        <i class="fa fa-comment"></i>
      </a>
      <a href="#" class="plus__link ion-music-note">
        <i class="fa fa-user-circle-o"></i>
      </a>
      <a href="#" class="plus__link ion-location clicked">
        <i class="fa fa-cogs"></i>
      </a>
    </div>
  </div>
</div>
