
.searchBar__Container {
    margin-top: 20px;

    .Age__Wrapper {
        align-items: baseline;

        &.ageFrom {

            label {
                width: 110px;
                text-align: center;
            }

            input {
                width: 76px;
            }
        }

        &.ageTo {

            label {
                width: 55px;
                text-align: center;
            }

            input {
                width: 76px;
            }
        }


    }

    .Show__Wrapper {
        align-items: baseline;
        @media screen and (max-width: 768px) {
            margin-top: 4px;
        }
        label {
            width: 70px;
            @media screen and (max-width: 768px) {
                width: 110px;
            }
            text-align: center;
        }

    }

    .findBtn {
        width: 90px;
        margin-left: 7px;
        @media screen and (max-width: 768px) {
            width: 70px;
        }
    }

    .AgeShowFind__Container {
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
    }


}
